<div class="recipients">
  <% recipients.each do |recipient, path| %>
    <li><a href="<%= path %>"><%= recipient %></a>
  <% end %>
</div>
<div class="mails">
  <ul>
    <% mails.each do |subject, path| %>
      <li><a href="<%= path %>"><%= subject %></a></li>
    <% end %>
  </ul>
</div>
